@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flexbox-767{
    display: flex;
    min-height: 180px;
    margin-top: 20px;
}
.desktop-grid{
    display: block;
    height: 100%;
}
.mobile-flex{
    display: none;
}
.width-33{
    width: 230px;
}

.poster2-page {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.font-Poiret {
    font-family: 'Poiret One', sans-serif;
}
.font-Cooper{
    font-weight: 900;
    font-family: 'Cooper', sans-serif;
}

.poster2-page .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, calc(25vh - 44px));
    grid-template-areas:
        'a a a a a d'
        'b b b b b d'
        'b b b b b d'
        'c c c c c d';
    gap: 18px;
    height: 100%;
    width: 100%;
}

.poster2-page .grid-container .num {
    font-size: 24vh;
    color: white;
    background-color: black;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.poster2-page .grid-container div {
    background-size: cover;
    background-position: bottom;
}

.poster2-page .grid-container .section-1 {
    grid-area: a;
    display: flex;
}

.image-1 {
    background-image: url(../images/Image1.png);
    width: 50%;
}

.image-2 {
    background-image: url(../images/Image2.png);
    width: 50%;
}

.poster2-page .grid-container .section-2 {
    grid-area: b;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'e e f f g'
        'h j f f g';
}

.image-3 {
    background-image: url(../images/Image3.png);
    grid-area: e;
}

.image-4 {
    background-image: url(../images/Image4.png);
    grid-area: h;
}

.image-5 {
    background-image: url(../images/Image5.png);
    grid-area: j;
}

.image-6 {
    background-image: url(../images/Image6.png);
    grid-area: f;
}

.image-7 {
    background-image: url(../images/Image7.png);
    grid-area: g;
}

.poster2-page .grid-container .section-3 {
    grid-area: c;
    display: flex;
}

.image-8 {
    background-image: url(../images/Image8.png);
    width: 20%;
}

.image-9 {
    background-image: url(../images/Image9.png);
    width: 20%;
}

.image-10 {
    background-image: url(../images/Image10.png);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.poster2-page .grid-container .title {
    grid-area: d;
    font-size: 84px;
    color: white;
    background-color: black;
    writing-mode: vertical-rl;
    padding: 24px 0px;
    line-height: 90px;
    display: flex;
    align-items: center;
}

.poster2-page img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.poster2-page .poster2-footer {
    font-family: 'Pretendard', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 38px;
}

@media (max-width: 1279px) {
    .poster2-page .grid-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .poster2-page .grid-container .num {
        margin-right: 0px;
        max-height: 240px;
    }

    .poster2-page .grid-container .title {
        margin-top: 20px;
        writing-mode: horizontal-tb;
        padding: 24px;
    }

    .poster2-page .grid-container .section-1 {
        height: 25%;
    }

    .poster2-page .grid-container .section-2 {
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.5fr;
        height: 45%;
    }

    .poster2-page .grid-container .section-3 {
        margin-top: 20px;
        height: 25%;
    }

    .poster2-page .grid-container .section-3 .image-10 {
        width: 60%;
    }
}

@media (max-width:619px) {
    .desktop-grid{
        display: none;
    }
    .mobile-flex{
        display: flex;
    }
    .poster2-page{
        height: auto;
    }
    .grid-container{
        height: auto;
    }
    .image-2{
        width: 100%;
    }
    .image-3,.image-6,.image-1,.image-7,.image-4,.image-5{
        width: 50%;
    }
    .image-8,.image-9,.image-10{
        width: 33.33%;
    }

    .poster2-footer {
        flex-direction: column;
        margin-top: 26px;
    }
    .poster2-footer > * {
        text-align: left !important;
      }

}
